.banner-search {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__column {
  }

  &__banner {
    height: 34px;
    display: flex;
    align-items: center;
    background-image: url(./../img/banner.png);
  }

  &__banner-text {
    font-size: 22px;
    color: #fff;
    margin-left: 99px;
    margin-right: 136px;
  }

  &__banner-button {
    width: 110px;
    height: 27px;
    background-color: #fff;
    border-radius: 2px;
    font-size: 15.6px;
    line-height: 19px;
    color: #000;
    margin-right: 12px;
    margin-top: 2.5px;
  }

  &__search {
  }

  &__input {
    width: 220px;
    height: 34px;
    box-shadow: 1px 1.73px 5px #0c0e0f;
    margin-right: 9px;
    padding: 0px 5px;
  }

  &__input:focus {
    box-shadow: 1px 1.73px 14px #0c0e0f;
  }

  &__search-button {
    width: 126px;
    height: 34px;
    border-radius: 2px;
    background-color: #5ca099;
    font-size: 15.5px;
    color: #fff;
    box-shadow: 1px 1.73px 5px #0c0e0f;
  }

  &__button:hover {
    box-shadow: 1px 1.73px 14px #0c0e0f;
  }

  &__button:focus {
    box-shadow: 1px 1.73px 14px #0c0e0f;
  }

  margin-bottom: 22px;
}

@media (max-width: 1200px) {
  .banner-search {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__banner {
      margin-bottom: 22px;
    }
  }
}
@media (max-width: 840px) {
  .banner-search {
    &__banner-text {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
@media (max-width: 648px) {
  .banner-search {
    &__banner-text {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__banner-button {
      width: 100px;
      margin-right: 3px;
    }
  }
}
@media (max-width: 490px) {
  .banner-search {
    &__banner-text {
      font-size: 14px;
      text-align: center;
    }
    &__input {
      margin-bottom: 10px;
    }
  }
}
