.footer {
  box-shadow: 0 -1px 5px rgba($color: #0c0e0f, $alpha: 0.17);
  &__row {
    display: flex;
    height: 51px;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 15px;
  }

  &__social-links {
    font-size: 27px;
    a {
      color: #3a3a39;
      margin-right: 14px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__social-links {
      font-size: 24px;
      a {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 625px) {
  .footer {
    &__copyright {
      font-size: 12px;
    }
    &__social-links {
      font-size: 20px;
      a {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 550px) {
  .footer {
    &__social-links {
      font-size: 16px;
      a {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 465px) {
  .footer {
    &__copyright {
      font-size: 10px;
    }
    &__social-links {
      font-size: 14px;
      a {
        margin-right: 7px;
      }
    }
  }
}

@media (max-width: 440px) {
  .footer {
    &__logo-small {
      display: none;
    }
    &__social-links {
      font-size: 16px;
    }
  }
}
