.page {
  margin-top: 32px;

  &__heading {
    font-size: 48px;
    font-weight: 100;
    line-height: 42px;
    margin-bottom: 9px;
  }

  &__subheading {
    background-color: #5ca099;
    margin-bottom: 75px;
  }

  &__subheading-text {
    height: 41px;
    font-size: 21.6px;
    font-weight: 100;
    line-height: 19px;
    color: #fff;
    display: flex;
    align-items: center;
  }

  &__catalog-menu {
  }
}

@media (max-width: 1250px) {
  .page {
    &__heading {
      font-size: 36px;
    }
    &__subheading-text {
      font-size: 16px;
    }
  }
}
@media (max-width: 768px) {
  .page {
    &__heading {
      font-size: 24px;
    }
    &__subheading-text {
      font-size: 12px;
    }
  }
}
@media (max-width: 400px) {
  .page {
    &__subheading-text {
      font-size: 10px;
    }
  }
}
