.welcome {
  &__heading {
    margin: 35px 10px 29px 10px;
    text-align: center;
    line-height: 55px;
  }
  &__para-text1 {
    margin: 0px auto;
    max-width: 540px;
    text-align: center;
    span {
      color: #5ca099;
    }
    margin-bottom: 24px;
  }

  &__para-text2 {
    margin: 0px auto;
    max-width: 1098px;
    text-align: center;
  }
  margin-bottom: 70px;
}

@media (max-width: 1270px) {
  .welcome {
    &__heading {
      font-size: 40px;
      line-height: 42px;
    }
  }
}
@media (max-width: 1070px) {
  .welcome {
    &__heading {
      font-size: 32px;
    }
  }
}
@media (max-width: 470px) {
  .welcome {
    &__heading {
      font-size: 24px;
    }
    &__para-text1 {
      font-size: 14px;
    }
    &__para-text2 {
      font-size: 14px;
    }
  }
}
