// * ===== fonts ===== * //
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
@import "_fonts";
@import "_icons";
@import "_nullstyles";

// * ===== variables ===== * //
$headerHeight: 51px;
$headerBackgroundColor: #fff;

// * ===== blocks ===== * //
body {
  font-family: "Roboto", sans-serif;
}

a:focus {
  border-bottom: 2px solid #12a19a;
}
a:hover {
  border-bottom: 2px solid #12a19a;
}

.wrapper {
  padding-top: $headerHeight + 17px;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 20px;
  box-sizing: content-box;
}

.heading {
  font-size: 48px;
  font-weight: 100;
  line-height: 42px;
}
.subheading {
  font-family: "Archangelsk";
  font-size: 48px;
  line-height: 48px;
}

.title {
  font-size: 25px;
  line-height: 45px;
  font-weight: 100;
}

.para-text {
  font-size: 17px;
  line-height: 23px;
}

// * ===== header ===== * //
@import "_header";
@import "_header-menu";

// * ===== main ===== * //
@import "_main";
@import "_catalog-menu";
@import "_callback";
@import "_welder";
@import "_storage";
@import "_logistik";
@import "_welcome";
@import "_logos";
@import "_callback-2";

// * ===== footer ===== * //
@import "_footer";
